@model IEnumerable<Examen3_Problema01.Models.Consumidor>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Consumidores</h2>

<p>
    @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idcont)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomcont)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apecont)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emailcont)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idpais)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idcont)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomcont)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apecont)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emailcont)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idpais)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.idcont }) |
            @Html.ActionLink("Detallar", "Details", new { id = item.idcont })
        </td>
    </tr>
}

</table>
